@page
@model IndexModel
@{
    ViewData["Title"] = "Shipments";
}

<div>
	<h1 class="display-4">Shipments</h1>
    
    <div class="float-right">
        <a class="btn btn-primary" asp-page="/Shipments/Create">Create New</a>
    </div>
</div>
