@page
@model EasyDdd.ShipmentManagement.Web.Pages.Errors._404Model
@{
	ViewData["Title"] = "404 - Not Found";
}

<div>
	<h1 class="display-4">404 - Not Found</h1>
	
    <p>
        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            @Model.Message
        }
        else
        {
            @:The requested resource was not found.
        }
    </p>
</div>
